*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
body{
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}

/* ANIMATION */
.background__animation{
  transform: scale(60) !important;
}
.nav__animation{
  opacity: 1 !important;
  width: 100vw !important;
  visibility: visible !important;
}

/* HEADER */
.header{
  position: relative;
}
.header .logo{
  display: inline-block;
  width: 100vw;
  
  background-color: #272727;
  padding: 10px ;
  padding-left: 10%;
  color: #dddddd;
  letter-spacing: 2px;
  

}
.logo span{
  color: #1aad07;
  font-weight: 1000 !important;
}

/* NAVIGATION */
.nav .nav__background{
  z-index: 100;
  width: 50px;
  height: 50px;
  background-image: radial-gradient(#8ffc58, #04bf0a, #00a305);
  border-radius: 50%;

  position: fixed;
  top: 30px;
  right: 30px;

  transition: all .6s cubic-bezier(1,0,.54,1);
}
.nav .nav__burger{
  z-index: 200;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 25px;
  right: 25px;
  
  cursor: pointer;

  background-color: #ffffff;
  color: #1aad07;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.nav__burger i{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 28px;
}
.nav__navigation{
  z-index: 150;
  height: 100vh;
  
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  width: 0vw;
  visibility: hidden;
  transition: all .5s cubic-bezier(1,0,.54,1);
}
.nav__navigation .nav__list{
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 10px;
  
}
.nav__navigation .nav__list .nav__item{
  margin: 15px;
}
.nav__navigation .nav__list .nav__item .nav__link{
  display: inline-block;
  text-decoration: none;

  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  
  padding: 10px 20px;
  border-radius: 3px;

  background-image: linear-gradient(120deg, transparent 0%,transparent 50%, #ffffff 50%);
  background-size: 250%;
  transition: all .5s;
}
.nav__navigation .nav__list .nav__item .nav__link:hover{
  background-position: right;
  color: #1aad07;
  background-repeat: no-repeat;
  transform: translateX(10px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
@media screen and (min-width: 786px){
  .nav__navigation .nav__list .nav__item .nav__link{
    font-size: 30px;
  }
}